
.snip1555 {
    text-transform: uppercase; 
      li {
      display: inline-block;
      list-style: outside none none;
      margin: 0.5em 0.6em;
      padding: 0.2rem 0.2rem;
      position: relative;
          &:before,
          &:after {
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          height: 2px;
          width: 20%;
          background-color: #ffffff;
          position: absolute;
          content: '';
          opacity: 0; }
          &:before {
              top: 0;
              left: 0; }
            
          &:after {
              bottom: 0;
              right: 0; }
            
          &:hover:before,
          &.hover:before,
          &:hover:after,
          &.hover:after {
              opacity: 1; }
            
          &:hover:before,
          &.hover:before {
              left: 65%; }
            
          &:hover:after,
          &.hover:after {
              right: 65%; }
              a {
              color: #fff;
              text-decoration: none;
              font-family: Nerko One, cursive;
              }   
      }
  }
  .colornv{
    color:#ebd976;
  }
  .linea {
    border: 1px solid $color-subtitulos;
    color: $color-subtitulos;
    width: 50%;
    margin-left: 25%;
    margin-top: 0; }